html, body {
    height: 100%;
}

body {
    background-color: #C3BAB3;
}

.wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    padding: 5px;
    margin: 10px;
    background-color: white;
    width: 75%;
    height: 75%;
    background-repeat: no-repeat;
    background-position: calc(100% - -286px) 25%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}

.bold {
    font-weight: 700;
}

#main-burger-img {
    max-width: 125px;
    height: auto;
    width: 100%;
}

form {
    margin-top: 8%;
}

#prepared {
    margin-bottom: 8%;
}

#devoured {
    opacity: 0.5;
}


/* Media Queries */
@media (max-width: 448px) {
	.title {
        font-size: 1.266em;
    }
}